<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Control_Finanças.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Control_Finanças.Properties.Settings.controle_financeiroConnectionString"
            connectionString="Driver={PostgreSQL ANSI};database=controle_financeiro;server=localhost;port=5432;uid=postgres;sslmode=disable;readonly=0;protocol=7.4;fakeoidindex=0;showoidcolumn=0;rowversioning=0;showsystemtables=0;fetch=100;socket=4096;unknownsizes=0;maxvarcharsize=255;maxlongvarcharsize=8190;debug=0;commlog=0;optimizer=0;ksqo=1;usedeclarefetch=0;textaslongvarchar=1;unknownsaslongvarchar=0;boolsaschar=1;parse=0;cancelasfreestmt=0;extrasystableprefixes=dd_;lfconversion=1;updatablecursors=1;disallowpremature=0;trueisminus1=0;bi=0;byteaaslongvarbinary=0;useserversideprepare=0;lowercaseidentifier=0;xaopt=1;pwd=postgres"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Control_Finanças.Properties.Settings>
            <setting name="BancoIp" serializeAs="String">
                <value />
            </setting>
            <setting name="BancoPorta" serializeAs="String">
                <value />
            </setting>
            <setting name="BancoUsuario" serializeAs="String">
                <value />
            </setting>
            <setting name="BancoSenha" serializeAs="String">
                <value />
            </setting>
            <setting name="BancoNome" serializeAs="String">
                <value />
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="CodCategoria" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CodSubCategoria" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LancamentoTipo" serializeAs="String">
                <value />
            </setting>
            <setting name="LancamentoCodigo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LancamentoEstatus" serializeAs="String">
                <value />
            </setting>
            <setting name="LancamentoModo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LancamentoData" serializeAs="String">
                <value />
            </setting>
        </Control_Finanças.Properties.Settings>
    </userSettings>
</configuration>
